* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $fuente-principal;
	color: $color-texto!important;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: $color-principal;
}

ul {
	list-style: none;
}

h3, h5 {
	text-align: center;
	margin: $espacio-chico 0;
	font-family: $fuente-secudaria;
}

a {
    color: $color-texto;
    text-decoration: none;
}

/*------------------------
HEADER
--------------------------*/

.navbar{
	font-size: $fuente-grande;
	padding: $espacio-chico;
	
	div{
		
		.navbar-brand{

			img {
				width: $icono-grande;
			}
		}

		.navbar-toggler{

			.navbar-toggler-icon {
				background: url('https://api.iconify.design/solar/hamburger-menu-line-duotone.svg?color=%23ddd&width=36') no-repeat center center / contain;
			}
		}

		.navbar-collapse{
			
			.navbar-nav{
				
				&:hover{
					color: $color-secundario;
				}
			}
		}
	}

} 

/*------------------------
FOOTER
--------------------------*/

footer {
	margin-top: 1.5rem;
	padding: 1.5rem 0; 
}

/*------------------------
BOTONES
--------------------------*/
.btn {
	background-color: $color-secundario;
	color: $color-texto;
	
	&:hover{
		background-color: $color-terciario;
		color: $color-secundario;
	}
}