
#inicio{
    background-image: url("../assets/icons/stadium.png");
    width: 98vw;
    height: 90vh;
    margin: $espacio-chico;
    background-repeat: no-repeat;
    background-size: cover;
    
    h1{
        font-size: 6rem;
        align-items: center;
        letter-spacing: 6px;
        
        @include desktop{
            font-size: 3rem;
            margin: $espacio-grande;
        }

        span{
            display: block;
            font-size: 7rem;
            font-weight: bold;
            align-items: center;
            @include mobile{
                margin: $espacio-grande;
                font-size: 4rem;
            }
            @include desktop{
                font-size: 5rem;
            }
        }
    }

    button{
        position:absolute;
        display: flex;
        bottom: 200px;

        @include mobile{
            bottom: 5px;
        }
        
        @include tablet{
            bottom: 150px;
        }
    }
}

.entradas{
    width: 18rem;
    background-color: $color-prin-dif;
    border: 4px solid $color-secundario;
    border-radius: $espacio-chico;
}

.list-group-item{
    background-color: $color-prin-dif;
}