/*------------------------
PARTIDOS
-------------------------*/
#partidos{

    .fechas{
        font-family: 'Arsenal', sans-serif;

        .accordion{

            .accordion-item{

                .accordion-header{
                    
                    .accordion-button{
                        background-color: $color-secundario;
                        color: $color-texto;
                        font-size: 1.1rem;
                    }
                }

                .accordion-body{
                    background-color: $color-prin-dif/* rgb(26, 29, 59) */;
                    color: $color-texto;
                    
                    .conteiner .row {

                        img{
                            width: $icono-grande;
                        }
                        
                        .resultado{
                            font-size: $fuente-grande;
                        }
                    }
                } 
                
            }
        }
    }
}